:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --white: #FAFAFA;
}

html, body {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 70px;
}

p {
    color: var(--slate-600);
}

.number-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

#hero {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 75px;
}

#what-is-it {
    height: 650px;
}

.midpage-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hero-content, .midpage-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    gap: 20px;
    max-width: 600px;
    justify-content: center;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.blue-button {
    background: var(--cyan-600);
}

.blue-button:hover {
    background-color: var(--cyan-300);
}

.purple-button {
    background: var(--purple-600);
}

.purple-button:hover {
    background-color: var(--purple-300);
}

.hero-img {
    width: 50%;
    height: auto;
}

.midpage-eyebrow {
    color: var(--cyan-600);
    text-transform: uppercase; 
    letter-spacing: 3px;
}

#lifestyle-squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 0 25px 0 25px;
    width: 100%;
}

#lifestyle-squares img {
    min-width: 100px;
    height: auto;
    max-width: 250px;
    width: 25%;
    border-radius: 15px;
}

.number-circled {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 50%;
    border: 1px solid var(--slate-600);
    background: white;
    font-weight: bold;
}

  
.number-circled::before {
    content: "";
    position: absolute;
    top: -75px;
    left: 50%;
    width: 1px;
    height: 75px;
    background: var(--slate-600);
    transform: translateX(-50%);
}

#section2.number-container {
    margin-bottom: 0px;
}

#section2 {
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 2;
    transform: translateY(75px);
}
  

footer {
    position: relative;
    width: 100%;
    margin-top: 200px;
}

.image-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.image-content h2 {
    font-size: 3em;
    text-wrap: initial !important;
    width: 500px;
    text-align: left;
}

.image-content p {
    color: var(--white);
    max-width: 500px;
    font-size: 1.2em;
    text-align: left;
}

button {
    font-weight: bold;
}
  
.rounded-button {
    color: var(--white);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.midpage-h2 {
    font-size: 2em;
}
  
  
.image-wrapper {
    position: relative;
    display: inline-block;
}
  
.image-wrapper img {
    display: block;
    width: 100vw;
    height: auto;
}
  
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #4D96A9;
    mix-blend-mode: multiply;
    opacity: 0.7;
}

.desktop {
    display: block;
}

.tablet {
    display: none !important;
}

.mobile {
    display: none !important;
}


/* MEDIA QUERIES ********************************************************************************/
  @media screen and (max-width: 1024px) {

    .tablet {
        display: block !important;
    }
    .desktop {
        display: none !important;
    }

    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    footer {
        height: 600px;
    }

    #section1 {
        margin-top: 100px;
    }

    .image-wrapper img .desktop {
        display: none;
    }

    #what-is-it {
        height: 750px;
        margin-bottom: 100px;
    }

    .image-content h2 {
        text-align: center;
        line-height: 70px;
    }

    .image-content p {
        text-align: center !important;
    }

  }
  
  @media screen and (max-width: 767px) {
    .tablet {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    #lifestyle-squares {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto); 
        gap: 10px; 
        padding: 0 10px;
    }

    #lifestyle-squares img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    footer {
        margin-top: 400px;
    }

    #section2 {
        transform: translateY(280px);
    }
  }