:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --white: #FAFAFA;
}

html {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 70px;
}

p {
    color: var(--slate-600);
}

.number-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

nav {
    margin-top: 8vh;
}

#hero {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-bottom: 50px;
}

.midpage-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hero-content, .midpage-content {
    display: flex;
    flex-direction: column;
    align-self:center;
    text-align: center;
    width: 400px;
    gap: 25px;
    margin-bottom: 100px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.blue-button {
    background: var(--cyan-600);
}

.blue-button:hover {
    background-color: var(--cyan-300);
}

.purple-button {
    background: var(--purple-600);
}

.purple-button:hover {
    background-color: var(--purple-300);
}

.hero-img {
    width: 500px;
}

.midpage-eyebrow {
    color: var(--cyan-600);
    text-transform: uppercase; 
    letter-spacing: 3px;
}

#lifestyle-squares {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#lifestyle-squares img {
    width: 200px;
    border-radius: 15px;
}

.number-circled {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 50%;
    border: 1px solid var(--slate-600);
    background: white;
}

  
.number-circled::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    width: 1px;
    height: 100px;
    background: var(--slate-600);
    transform: translateX(-50%);
}
  

footer {
    width: 100%;
    height: 400px;
}

.image-content {
    display: flex;
    justify-content: space-around;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.image-content h2 {
    font-size: 3em;
    width: 400px;
    text-align: left;
}

.image-content p {
    color: var(--white);
    width: 400px;
    font-size: 1.2em;
    text-align: left;
}

button {
    font-weight: bold;
}
  
.rounded-button {
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  
.image-wrapper {
    position: relative;
    display: inline-block;
}
  
.image-wrapper img {
    display: block;
    width: 100vw;
    height: auto;
}
  
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #4D96A9;
    mix-blend-mode: multiply; /* Blends color with image */
    opacity: 0.7; /* Adjust for stronger effect */
}